html {
	color: #000;
	background: #222222;
}

a {
	cursor: pointer;
}

html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
	margin: 0;
	padding: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

fieldset,
img {
	border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
	font-style: normal;
	font-weight: normal;
}

li {
	list-style: none;
}

caption,
th {
	text-align: left;
}
/* h1,h2,h3,h4,h5,h6{font-size:100%;} */

q:before,
q:after {
	content: '';
}

abbr,
acronym {
	border: 0;
	font-variant: normal;
}

sup {
	vertical-align: text-top;
}

sub {
	vertical-align: text-bottom;
}

input,
textarea,
select {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	outline-style: none;
	outline-width: 0pt;
}

legend {
	color: #000;
}

a:focus,
object,
h1,
h2,
h3,
h4,
h5,
h6 {
	-moz-outline-style: none;
	border: 0px;
}
/*input[type="Submit"]{cursor:pointer;}*/

strong {
	font-weight: bold;
}

body {
	overflow: hidden;
	font-family: Helvetica, Arial, sans-serif;
	color: #333333;
	font-size: 11px;
	background-color: #222222;
}

canvas {
	background-color: #111111;
}

.ui {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.5rem;
	color: #999999;
	text-align: left;
	padding: 8px;
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	z-index: 2;
	margin: 0;
}

#message {
	padding: 16px;
	font-size: 1.2rem;
}

#message p {
	color: lime;
	font-size: 1rem;
	animation: blink 880ms ease-in-out infinite;
}

#status {
	width: 100%;
	padding: 8px 40px;
	display: none;
}

#status span {
	color: dodgerblue;
	font-weight: bold;
	margin-right: 5px;
}

#title {
	margin-bottom: 20px;
	color: #eeeeee;
}

.ui ul {
	margin: 10px 0 10px 0;
}

.ui a {
	outline: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.8rem;
	text-decoration: none;
	color: #bbbbbb;
	width:12rem;
	padding: 2px;
	margin: auto;
	display: block;
	background: goldenrod;
	border-radius: 12px;
	text-align: center;
}

.ui a:hover {
	color: #000;
	background-color: #4bde35;
}

@keyframes blink {
	0% {
		color: lime;
	}
	100% {
		color: transparent;
	}
}
